.flowHeader {
    font-size: 70px;
    font-weight: 500;
    display: flex;
    /* background-image: linear-gradient(to top right, gold, navy, black); */
    background-image: radial-gradient(circle, gold, navy 25%, black 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    justify-content: center;
}

@keyframes fillHeader {
    0%   {background-color: gold;}
    25%  {background-color: navy;}
    50%  {background-color: black;}
    
}